In [1]:
import os
from urllib import request 
from collections import defaultdict
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from joblib import dump, load
import pandas as pd

mpl.rcParams["font.size"] = 13
mpl.rcParams['figure.dpi'] = 120

In [2]:
def download_data(name_dir="data", filename="data.csv",
                  data_url = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/cities/totals/sub-est2017_42.csv'):
    """ 
    Download both train and test dataset to a directory named "data". 

    If the directory doesn't exist, this function will create one. 

    Parameters
    ----------
    url : str
    The URL of the location of the file.

    Returns
    -------
    No return. Create a directory if needed and 
    download the file to that directory.
    """
    
    if not os.path.isdir(name_dir):
        os.makedirs(name_dir)

    data_path = os.path.join(name_dir, filename)

    request.urlretrieve(data_url,data_path)
    
def GEOID_ten(x):
    """
    Convert 12-digit geoid to 10-digit.
    
    More details can be found at https://www.census.gov/geo/reference/geoidentifiers.html.
    Parameters
    ----------
    x : int
    
    Returns
    -------
    int
    
    """
    
    astr = str(x)[:10]
    return int(astr)

## Download Sub-county population dataset for PA

In [13]:
# https://www.census.gov/data/datasets/2017/demo/popest/total-cities-and-towns.html
url_pop = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/cities/totals/sub-est2017_42.csv'

In [17]:
download_data(name_dir="data", 
              filename="population.csv",
              data_url=url_pop)

## Download population data from US Census

In [18]:
url_ems = 'https://data.wprdc.org/dataset/abba9671-a026-4270-9c83-003a1414d628/resource/ff33ca18-2e0c-4cb5-bdcd-60a5dc3c0418/download/911-ems-dispatches.csv'

In [22]:
download_data(name_dir="data", 
              filename="EMS.csv",
              data_url=url_ems)

In [23]:
df_ems = pd.read_csv('data/EMS.csv')
df_ems.head()

,Call_ID_Hash,SERVICE,PRIORITY,PRIORITY_DESC,AGENCY,CALL_QUARTER,CALL_YEAR,DESCRIPTION_SHORT,CITY_CODE,CITY_NAME,GEOID
0,336ba345f5a0,EMS,E0,EMS ALS life threatening response w/ backup,E620,Q1,2015,HEMORRHAGE,PVU,PORT VUE,420035003002
1,f59d50d394fa,EMS,E0,EMS ALS life threatening response w/ backup,E380,Q1,2015,UNCONSCIOUS,PEN,PENN HILLS,420035235011
2,8d56b4f6f9fe,EMS,E0,EMS ALS life threatening response w/ backup,E620,Q1,2015,UNCONSCIOUS,MCK,MCKEESPORT,420035523003
3,e20045d2f6b4,EMS,E0,EMS ALS life threatening response w/ backup,E050,Q1,2015,"GUNSHOT, STABBING, OR OTHER WOUND",PGH,PITTSBURGH,420031306003
4,dbe1c9db46f6,EMS,E0,EMS ALS life threatening response w/ backup,E050,Q1,2015,ASSAULT,PGH,PITTSBURGH,420031609002

In [21]:
df_pop = pd.read_csv('data/population.csv')
df_pop.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
0,40,42,0,0,0,0,0,A,Pennsylvania,Pennsylvania,12702379,12702857,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537
1,162,42,0,116,0,0,0,A,Abbottstown borough,Pennsylvania,1011,1011,1010,1011,1008,1006,1009,1012,1013,1020
2,162,42,0,332,0,0,0,A,Adamsburg borough,Pennsylvania,172,172,172,171,170,169,168,167,165,164
3,162,42,0,364,0,0,0,A,Adamstown borough,Pennsylvania,1789,1789,1801,1835,1837,1839,1844,1845,1847,1850
4,162,42,0,396,0,0,0,A,Addison borough,Pennsylvania,207,207,207,205,204,202,201,198,198,197

In [61]:
df_pop['NAME_UP'] = df_pop['NAME'].str.upper()
df_pop.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,NAME_UP
0,40,42,0,0,0,0,0,A,Pennsylvania,Pennsylvania,...,12702857,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537,PENNSYLVANIA
1,162,42,0,116,0,0,0,A,Abbottstown borough,Pennsylvania,...,1011,1010,1011,1008,1006,1009,1012,1013,1020,ABBOTTSTOWN BOROUGH
2,162,42,0,332,0,0,0,A,Adamsburg borough,Pennsylvania,...,172,172,171,170,169,168,167,165,164,ADAMSBURG BOROUGH
3,162,42,0,364,0,0,0,A,Adamstown borough,Pennsylvania,...,1789,1801,1835,1837,1839,1844,1845,1847,1850,ADAMSTOWN BOROUGH
4,162,42,0,396,0,0,0,A,Addison borough,Pennsylvania,...,207,207,205,204,202,201,198,198,197,ADDISON BOROUGH

In [121]:
df_ems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780698 entries, 0 to 780697
Data columns (total 13 columns):
Call_ID_Hash         780698 non-null object
SERVICE              780698 non-null object
PRIORITY             780698 non-null object
PRIORITY_DESC        780698 non-null object
AGENCY               780698 non-null object
CALL_QUARTER         780698 non-null object
CALL_YEAR            780698 non-null int64
DESCRIPTION_SHORT    778103 non-null object
CITY_CODE            780698 non-null object
CITY_NAME            780698 non-null object
GEOID                780698 non-null int64
GEOID_10             780698 non-null int64
GEOID_5              780698 non-null int64
dtypes: int64(4), object(9)
memory usage: 77.4+ MB

In [170]:
def getCodeName(geoid,df):
    """
    Return city name and city code for a given geioid.
    
    Parameters
    ----------
    geoid : int
    df : DataFrame
    
    Returns
    -------
    tuple
    """
    temp = df[(df_ems.GEOID == geoid) & (df.CITY_NAME.notnull()) ][['CITY_CODE','CITY_NAME']]
    city_name = temp['CITY_NAME'].value_counts().index[0]
    city_code = temp[ temp['CITY_NAME'] == city_name]['CITY_CODE'].value_counts().index[0]
#     print(city_name,city_code)
    return city_name,city_code

def nested_dict():
  """
  This returns a empty nestable dictionary.
  """
  return defaultdict(nested_dict)

In [118]:
getCodeName(420035629002,df_ems)

('PITTSBURGH', 'PGH')

In [109]:
# Create a backup copy
df_ems_bk = df_ems.copy()

In [115]:
# Get index for missing values at CITY_CODE and CITY_NAME
index_for_missing_values = df_ems[(df_ems.CITY_NAME.isnull()) | (df_ems.CITY_CODE.isnull())].index.tolist()
index_for_missing_values[:10]

[7200, 7237, 29818, 45426, 51944, 69156, 104522, 104614, 107710, 114511]

In [119]:
# Fill the missing values
for index in index_for_missing_values:
    geoid = df_ems.loc[index,'GEOID']
    ct_name, ct_code = getCodeName(geoid,df_ems)
    
    df_ems.loc[index,'CITY_NAME'] = ct_name
    df_ems.loc[index,'CITY_CODE'] = ct_code

# Recheck missing at CITY_CODE and CITY_NAME
df_ems[(df_ems.CITY_NAME.isnull()) | (df_ems.CITY_CODE.isnull())].index.tolist()

[]

In [122]:
df_ems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780698 entries, 0 to 780697
Data columns (total 13 columns):
Call_ID_Hash         780698 non-null object
SERVICE              780698 non-null object
PRIORITY             780698 non-null object
PRIORITY_DESC        780698 non-null object
AGENCY               780698 non-null object
CALL_QUARTER         780698 non-null object
CALL_YEAR            780698 non-null int64
DESCRIPTION_SHORT    778103 non-null object
CITY_CODE            780698 non-null object
CITY_NAME            780698 non-null object
GEOID                780698 non-null int64
GEOID_10             780698 non-null int64
GEOID_5              780698 non-null int64
dtypes: int64(4), object(9)
memory usage: 77.4+ MB

In [128]:
df_ems[df_ems.DESCRIPTION_SHORT.isnull()]['PRIORITY_DESC'].value_counts()

EMS Admin Mark out                             2491
EMS ALS life threatening response                31
EMS Standard BLS response                        31
EMS Standard ALS response                        21
EMS ALS life threatening response w/ backup      12
EMS BLS Assistance response                       8
Fire Notifications                                1
Name: PRIORITY_DESC, dtype: int64

In [134]:
df_ems['DESCRIPTION_SHORT'].fillna('MISSING',inplace=True)

In [135]:
df_ems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780698 entries, 0 to 780697
Data columns (total 13 columns):
Call_ID_Hash         780698 non-null object
SERVICE              780698 non-null object
PRIORITY             780698 non-null object
PRIORITY_DESC        780698 non-null object
AGENCY               780698 non-null object
CALL_QUARTER         780698 non-null object
CALL_YEAR            780698 non-null int64
DESCRIPTION_SHORT    780698 non-null object
CITY_CODE            780698 non-null object
CITY_NAME            780698 non-null object
GEOID                780698 non-null int64
GEOID_10             780698 non-null int64
GEOID_5              780698 non-null int64
dtypes: int64(4), object(9)
memory usage: 77.4+ MB

In [177]:
ct_names = df_ems.CITY_NAME.unique().tolist()
ct_names[:10]

['PORT VUE',
 'PENN HILLS',
 'MCKEESPORT',
 'PITTSBURGH',
 'ROSS',
 'SOUTH FAYETTE',
 'FRANKLIN PARK',
 'DUQUESNE',
 'PITCAIRN',
 'WEST MIFFLIN']

In [220]:
# Check Westmoreland county in city names
df_ems[df_ems.CITY_NAME.isin(['WESTMORELAND COUNTY'])]

,Call_ID_Hash,SERVICE,PRIORITY,PRIORITY_DESC,AGENCY,CALL_QUARTER,CALL_YEAR,DESCRIPTION_SHORT,CITY_CODE,CITY_NAME,GEOID,GEOID_10,GEOID_5
211893,eb764b289f44,EMS,E1,EMS ALS life threatening response,E590,Q4,2015,COMMERCIAL OR APARTMENT BLDG FIRE,WST,WESTMORELAND COUNTY,420034961023,4200349610,49610

In [221]:
# Drop westmoreland county
print("No. of rows before dropping = ", len(df_ems))
df_ems.drop(df_ems[df_ems.CITY_NAME.isin(['WESTMORELAND COUNTY'])].index, inplace=True)
print("No. of rows after dropping = ", len(df_ems))

No. of rows before dropping =  780698
No. of rows after dropping =  780697

In [223]:
# Rebuild the city name list
ct_names = df_ems.CITY_NAME.unique().tolist()

In [144]:
df_pop.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,NAME_UP
0,40,42,0,0,0,0,0,A,Pennsylvania,Pennsylvania,...,12702857,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537,PENNSYLVANIA
1,162,42,0,116,0,0,0,A,Abbottstown borough,Pennsylvania,...,1011,1010,1011,1008,1006,1009,1012,1013,1020,ABBOTTSTOWN BOROUGH
2,162,42,0,332,0,0,0,A,Adamsburg borough,Pennsylvania,...,172,172,171,170,169,168,167,165,164,ADAMSBURG BOROUGH
3,162,42,0,364,0,0,0,A,Adamstown borough,Pennsylvania,...,1789,1801,1835,1837,1839,1844,1845,1847,1850,ADAMSTOWN BOROUGH
4,162,42,0,396,0,0,0,A,Addison borough,Pennsylvania,...,207,207,205,204,202,201,198,198,197,ADDISON BOROUGH

In [171]:
temp_dict = nested_dict()

In [216]:
def get_pop(ct_name, df, name_col, yr_st, yr_end):
    columns=['POPESTIMATE{yr}'.format(yr=str(yr)) 
             for yr in range(yr_st, yr_end+1)]
    ct_ext = ['BOROUGH', 'CITY', 'TOWNSHIP', 'MUNICIPALITY']
    if ct_name.endswith(('BOROUGH', 'CITY', 'TOWNSHIP', 'BORO')):
        alist = ct_name.split()
        ct_name = ' '.join(alist[:-1])
    if 'CLAIR' in ct_name:
        ct_name = ct_name.replace('ST ', 'ST. ')
    ct_names = ['{name} {ext}'.format(name=ct_name, ext=ext) 
                for ext in ct_ext]
    return (df[(df[name_col]
                .isin(ct_names))][columns]
            .median().astype('int').tolist())

In [183]:
get_pop('SOUTH FAYETTE',df_pop,'NAME_UP',2015,2017)

[15423, 15511, 15614]

In [212]:
def get_pop_dict(ct_names, df, name_col, yr_st, yr_end):
    pop_dict = nested_dict()
    for ct_name in ct_names:
        try:
            pops = get_pop(ct_name, df, name_col, yr_st, yr_end)
            for yr,pop in zip(range(yr_st,yr_end+1), pops):
                pop_dict[ct_name][yr]=pop
        except ValueError:
            print(ct_name)
            return ct_name
    return pop_dict

In [224]:
pop_dict = get_pop_dict(ct_names,df_pop,'NAME_UP',2015,2017)
pop_dict

defaultdict(<function __main__.nested_dict()>,
            {'PORT VUE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3753, 2016: 3725, 2017: 3700}),
             'PENN HILLS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 41875, 2016: 41563, 2017: 41291}),
             'MCKEESPORT': defaultdict(<function __main__.nested_dict()>,
                         {2015: 19509, 2016: 19369, 2017: 19245}),
             'PITTSBURGH': defaultdict(<function __main__.nested_dict()>,
                         {2015: 304453, 2016: 305017, 2017: 302407}),
             'ROSS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 5774, 2016: 5763, 2017: 5805}),
             'SOUTH FAYETTE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 15423, 2016: 15511, 2017: 15614}),
             'FRANKLIN PARK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 14330, 2016: 14451, 2017: 14552}),
             'DUQUESNE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 5549, 2016: 5542, 2017: 5547}),
             'PITCAIRN': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3255, 2016: 3231, 2017: 3209}),
             'WEST MIFFLIN': defaultdict(<function __main__.nested_dict()>,
                         {2015: 20079, 2016: 19961, 2017: 19839}),
             'RESERVE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3293, 2016: 3272, 2017: 3250}),
             'CLAIRTON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 6705, 2016: 6655, 2017: 6611}),
             'PLEASANT HILLS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 8239, 2016: 8187, 2017: 8132}),
             'ELIZABETH TOWNSHIP': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1504, 2016: 1492, 2017: 1482}),
             'MCCANDLESS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 28773, 2016: 28651, 2017: 28484}),
             'RANKIN': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2097, 2016: 2082, 2017: 2067}),
             'BRENTWOOD': defaultdict(<function __main__.nested_dict()>,
                         {2015: 9531, 2016: 9461, 2017: 9398}),
             'BELLEVUE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 8274, 2016: 8213, 2017: 8159}),
             'MOUNT LEBANON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 32789, 2016: 32558, 2017: 32349}),
             'MCKEES ROCKS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 6032, 2016: 5990, 2017: 5950}),
             'SWISSVALE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 8875, 2016: 8808, 2017: 8746}),
             'GLASSPORT': defaultdict(<function __main__.nested_dict()>,
                         {2015: 4428, 2016: 4396, 2017: 4367}),
             'AVALON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 4651, 2016: 4616, 2017: 4586}),
             'ROBINSON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 7808, 2016: 7799, 2017: 7770}),
             'WILKINSBURG': defaultdict(<function __main__.nested_dict()>,
                         {2015: 15748, 2016: 15637, 2017: 15554}),
             'COLLIER': defaultdict(<function __main__.nested_dict()>,
                         {2015: 7938, 2016: 8036, 2017: 8162}),
             'STOWE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 6289, 2016: 6242, 2017: 6201}),
             'SHALER': defaultdict(<function __main__.nested_dict()>,
                         {2015: 28486, 2016: 28295, 2017: 28129}),
             'RICHLAND': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1567, 2016: 1579, 2017: 1594}),
             'SPRINGDALE BORO': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3378, 2016: 3352, 2017: 3329}),
             'WHITEHALL': defaultdict(<function __main__.nested_dict()>,
                         {2015: 13814, 2016: 13750, 2017: 13733}),
             'TURTLE CREEK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 5286, 2016: 5247, 2017: 5211}),
             'TARENTUM': defaultdict(<function __main__.nested_dict()>,
                         {2015: 4479, 2016: 4446, 2017: 4417}),
             'OHIO': defaultdict(<function __main__.nested_dict()>,
                         {2015: 6059, 2016: 6324, 2017: 6569}),
             'BALDWIN BORO': defaultdict(<function __main__.nested_dict()>,
                         {2015: 19802, 2016: 19741, 2017: 19610}),
             'PLUM': defaultdict(<function __main__.nested_dict()>,
                         {2015: 27400, 2016: 27326, 2017: 27258}),
             'MUNHALL': defaultdict(<function __main__.nested_dict()>,
                         {2015: 11279, 2016: 11233, 2017: 11158}),
             'INGRAM': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3295, 2016: 3270, 2017: 3248}),
             'WHITAKER': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1259, 2016: 1251, 2017: 1243}),
             'WEST DEER': defaultdict(<function __main__.nested_dict()>,
                         {2015: 11930, 2016: 11909, 2017: 11949}),
             'WHITE OAK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 7780, 2016: 7723, 2017: 7673}),
             'MARSHALL': defaultdict(<function __main__.nested_dict()>,
                         {2015: 8546, 2016: 8761, 2017: 9070}),
             'NORTH FAYETTE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 14578, 2016: 14547, 2017: 14809}),
             'BRADDOCK HILLS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1858, 2016: 1845, 2017: 1831}),
             'DORMONT': defaultdict(<function __main__.nested_dict()>,
                         {2015: 8499, 2016: 8434, 2017: 8377}),
             'FORWARD': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2981, 2016: 2986, 2017: 2997}),
             'GREEN TREE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 4955, 2016: 4922, 2017: 4892}),
             'FRAZER': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1151, 2016: 1141, 2017: 1133}),
             'NORTH BRADDOCK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 4800, 2016: 4764, 2017: 4731}),
             'EDGEWOOD': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3078, 2016: 3055, 2017: 3034}),
             'ETNA': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3410, 2016: 3384, 2017: 3361}),
             'ELIZABETH BORO': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1504, 2016: 1492, 2017: 1482}),
             'HAMPTON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 18427, 2016: 18401, 2017: 18325}),
             'WILKINS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 6289, 2016: 6247, 2017: 6205}),
             'SCOTT': defaultdict(<function __main__.nested_dict()>,
                         {2015: 4820, 2016: 4786, 2017: 4772}),
             'WILMERDING': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2160, 2016: 2143, 2017: 2130}),
             'KENNEDY': defaultdict(<function __main__.nested_dict()>,
                         {2015: 8099, 2016: 8121, 2017: 8118}),
             'OAKMONT': defaultdict(<function __main__.nested_dict()>,
                         {2015: 6444, 2016: 6440, 2017: 6445}),
             'HOMESTEAD': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3128, 2016: 3181, 2017: 3162}),
             'NORTH VERSAILLES': defaultdict(<function __main__.nested_dict()>,
                         {2015: 10174, 2016: 10098, 2017: 10031}),
             'SHARPSBURG': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3405, 2016: 3380, 2017: 3357}),
             'BRACKENRIDGE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3223, 2016: 3200, 2017: 3179}),
             'JEFFERSON HILLS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 11326, 2016: 11287, 2017: 11226}),
             'VERSAILLES': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1498, 2016: 1485, 2017: 1476}),
             'FOREST HILLS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 6444, 2016: 6396, 2017: 6354}),
             'CHURCHILL': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2979, 2016: 2959, 2017: 2938}),
             'SPRINGDALE TOWNSHIP': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3378, 2016: 3352, 2017: 3329}),
             'ALEPPO': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1198, 2016: 1191, 2017: 1184}),
             'DRAVOSBURG': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1770, 2016: 1758, 2017: 1745}),
             'INDIANA': defaultdict(<function __main__.nested_dict()>,
                         {2015: 14030, 2016: 13185, 2017: 13149}),
             'ASPINWALL': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2770, 2016: 2749, 2017: 2732}),
             'MOUNT OLIVER': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3362, 2016: 3337, 2017: 3315}),
             'HARRISON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1011, 2016: 1002, 2017: 994}),
             'HARMAR': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3071, 2016: 3049, 2017: 3030}),
             'CASTLE SHANNON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 8224, 2016: 8228, 2017: 8173}),
             'CARNEGIE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 7943, 2016: 7940, 2017: 7898}),
             "O'HARA": defaultdict(<function __main__.nested_dict()>,
                         {2015: 8820, 2016: 8768, 2017: 8722}),
             'WEST HOMESTEAD': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1921, 2016: 1908, 2017: 1896}),
             'EAST MCKEESPORT': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2113, 2016: 2096, 2017: 2081}),
             'FOX CHAPEL': defaultdict(<function __main__.nested_dict()>,
                         {2015: 5375, 2016: 5338, 2017: 5309}),
             'BRIDGEVILLE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 5093, 2016: 5056, 2017: 5023}),
             'PINE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 744, 2016: 743, 2017: 738}),
             'FINDLAY': defaultdict(<function __main__.nested_dict()>,
                         {2015: 5513, 2016: 5628, 2017: 5761}),
             'EMSWORTH': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2421, 2016: 2404, 2017: 2388}),
             'MILLVALE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3699, 2016: 3672, 2017: 3648}),
             'BRADDOCK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2134, 2016: 2129, 2017: 2116}),
             'NEVILLE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1074, 2016: 1067, 2017: 1060}),
             'VERONA': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2445, 2016: 2428, 2017: 2411}),
             'CHALFANT': defaultdict(<function __main__.nested_dict()>,
                         {2015: 791, 2016: 785, 2017: 779}),
             'CRAFTON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 5887, 2016: 5843, 2017: 5803}),
             'BLAWNOX': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1416, 2016: 1404, 2017: 1396}),
             'LIBERTY': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1365, 2016: 1369, 2017: 1363}),
             'HEIDELBERG': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1483, 2016: 1480, 2017: 1481}),
             'EAST PITTSBURGH': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1800, 2016: 1788, 2017: 1775}),
             'LINCOLN': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1058, 2016: 1050, 2017: 1042}),
             'WEST VIEW': defaultdict(<function __main__.nested_dict()>,
                         {2015: 6696, 2016: 6646, 2017: 6602}),
             'WALL': defaultdict(<function __main__.nested_dict()>,
                         {2015: 573, 2016: 569, 2017: 565}),
             'BEN AVON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1780, 2016: 1765, 2017: 1754}),
             'CORAOPOLIS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 5608, 2016: 5566, 2017: 5530}),
             'EDGEWORTH': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1671, 2016: 1659, 2017: 1656}),
             'FAWN': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2744, 2016: 2746, 2017: 2742}),
             'CRESCENT': defaultdict(<function __main__.nested_dict()>,
                         {2015: 2614, 2016: 2596, 2017: 2578}),
             'SEWICKLEY': defaultdict(<function __main__.nested_dict()>,
                         {2015: 3846, 2016: 3856, 2017: 3839}),
             'BALDWIN TOWNSHIP': defaultdict(<function __main__.nested_dict()>,
                         {2015: 19802, 2016: 19741, 2017: 19610}),
             'LEETSDALE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1203, 2016: 1195, 2017: 1187}),
             'BEN AVON HEIGHTS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 373, 2016: 368, 2017: 365}),
             'CHESWICK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1728, 2016: 1716, 2017: 1703}),
             'BRADFORD WOODS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1170, 2016: 1161, 2017: 1157}),
             'SEWICKLEY HILLS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 731, 2016: 726, 2017: 724}),
             'OAKDALE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1475, 2016: 1465, 2017: 1456}),
             'MOON': defaultdict(<function __main__.nested_dict()>,
                         {2015: 25510, 2016: 25480, 2017: 25557}),
             'EAST DEER': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1477, 2016: 1465, 2017: 1455}),
             'MONROEVILLE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 28088, 2016: 27896, 2017: 27716}),
             'SEWICKLEY HEIGHTS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 822, 2016: 816, 2017: 811}),
             'KILBUCK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 693, 2016: 713, 2017: 718}),
             'ROSSLYN FARMS': defaultdict(<function __main__.nested_dict()>,
                         {2015: 423, 2016: 418, 2017: 415}),
             'THORNBURG': defaultdict(<function __main__.nested_dict()>,
                         {2015: 451, 2016: 445, 2017: 443}),
             'WEST ELIZABETH': defaultdict(<function __main__.nested_dict()>,
                         {2015: 509, 2016: 506, 2017: 502}),
             'SOUTH VERSAILLES': defaultdict(<function __main__.nested_dict()>,
                         {2015: 346, 2016: 343, 2017: 341}),
             'PENNSBURY VILLAGE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 671, 2016: 665, 2017: 661}),
             'BETHEL PARK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 32024, 2016: 31849, 2017: 32404}),
             'HAYSVILLE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 69, 2016: 69, 2017: 68}),
             'SOUTH PARK': defaultdict(<function __main__.nested_dict()>,
                         {2015: 13412, 2016: 13350, 2017: 13343}),
             'GLENFIELD': defaultdict(<function __main__.nested_dict()>,
                         {2015: 212, 2016: 210, 2017: 209}),
             'UPPER ST CLAIR': defaultdict(<function __main__.nested_dict()>,
                         {2015: 19567, 2016: 19750, 2017: 19692}),
             'GLEN OSBORNE': defaultdict(<function __main__.nested_dict()>,
                         {2015: 542, 2016: 546, 2017: 542}),
             'BELL ACRES': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1392, 2016: 1392, 2017: 1388}),
             'LEET': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1614, 2016: 1601, 2017: 1591}),
             'MCDONALD': defaultdict(<function __main__.nested_dict()>,
                         {2015: 1730, 2016: 1715, 2017: 1708})})

In [226]:
df_city_count = df_ems['CITY_NAME'].value_counts().reset_index()
df_city_count.head()

           index  CITY_NAME
0     PITTSBURGH     250676
1     MCKEESPORT      27228
2     PENN HILLS      26626
3  MOUNT LEBANON      23044
4           ROSS      19019

In [254]:
df_city_count =df_ems['CITY_NAME'].value_counts().reset_index()
df_city_count.columns = ['CITY_NAME', 'NO. OF CALLS']
df_city_count['PERCENTAGE'] = round(df_city_count['NO. OF CALLS']/
                                    df_city_count['NO. OF CALLS'].sum()*
                                    100,2)
df_city_count[df_city_count['PERCENTAGE']>0.5]['PERCENTAGE'].sum()

86.25000000000003

In [286]:
def get_pop(x, **kwargs):
    pop_dict = kwargs['pop_dict']
    yr = kwargs['yr']
    return pop_dict[x][yr]

In [292]:
df_city_count['Population_2015'] = (df_city_count['CITY_NAME']
                               .apply(get_pop, pop_dict=pop_dict, yr = 2015))

In [294]:
# df_city_count.drop(inplace=True,columns= ['Population'],axis=1)
df_city_count.head()

       CITY_NAME  NO. OF CALLS  PERCENTAGE  Population_2015
0     PITTSBURGH        250676       32.11           304453
1     MCKEESPORT         27228        3.49            19509
2     PENN HILLS         26626        3.41            41875
3  MOUNT LEBANON         23044        2.95            32789
4           ROSS         19019        2.44             5774

In [295]:
df_city_count['CALL_PER_POP'] = (df_city_count['NO. OF CALLS']/
                                 df_city_count['Population_2015'])
df_city_count.head()

       CITY_NAME  NO. OF CALLS  PERCENTAGE  Population_2015  CALL_PER_POP
0     PITTSBURGH        250676       32.11           304453      0.823365
1     MCKEESPORT         27228        3.49            19509      1.395664
2     PENN HILLS         26626        3.41            41875      0.635845
3  MOUNT LEBANON         23044        2.95            32789      0.702797
4           ROSS         19019        2.44             5774      3.293904

In [297]:
df_city_count.sort_values(by=['CALL_PER_POP','Population_2015'],ascending=False)

,CITY_NAME,NO. OF CALLS,PERCENTAGE,Population_2015,CALL_PER_POP
18,HARRISON,7721,0.99,1011,7.636993
43,PINE,4183,0.54,744,5.622312
30,ELIZABETH TOWNSHIP,6389,0.82,1504,4.248005
35,RICHLAND,5326,0.68,1567,3.398851
4,ROSS,19019,2.44,5774,3.293904
9,SCOTT,11884,1.52,4820,2.465560
29,HOMESTEAD,6403,0.82,3128,2.046995
45,BRADDOCK,4174,0.53,2134,1.955951
63,EAST PITTSBURGH,2859,0.37,1800,1.588333
59,RANKIN,3220,0.41,2097,1.535527
1,MCKEESPORT,27228,3.49,19509,1.395664
44,HARMAR,4177,0.54,3071,1.360143
17,MCKEES ROCKS,8008,1.03,6032,1.327586
12,ROBINSON,9420,1.21,7808,1.206455
34,NORTH BRADDOCK,5768,0.74,4800,1.201667
70,BRADDOCK HILLS,2134,0.27,1858,1.148547
68,WEST HOMESTEAD,2200,0.28,1921,1.145237
67,WILMERDING,2465,0.32,2160,1.141204
31,DUQUESNE,6328,0.81,5549,1.140386
5,WILKINSBURG,17535,2.25,15748,1.113475
19,CLAIRTON,7316,0.94,6705,1.091126
81,FRAZER,1234,0.16,1151,1.072111
78,VERSAILLES,1594,0.20,1498,1.064085
26,STOWE,6540,0.84,6289,1.039911
55,MOUNT OLIVER,3431,0.44,3362,1.020523
54,SHARPSBURG,3470,0.44,3405,1.019090
41,TARENTUM,4558,0.58,4479,1.017638
53,MILLVALE,3549,0.45,3699,0.959448
48,GLASSPORT,3953,0.51,4428,0.892728
13,NORTH VERSAILLES,9048,1.16,10174,0.889326
...,...,...,...,...,...
65,MARSHALL,2768,0.35,8546,0.323894
94,FAWN,855,0.11,2744,0.311589
96,EMSWORTH,748,0.10,2421,0.308963
127,HAYSVILLE,21,0.00,69,0.304348
77,FOX CHAPEL,1614,0.21,5375,0.300279
92,SPRINGDALE TOWNSHIP,951,0.12,3378,0.281528
51,INDIANA,3850,0.49,14030,0.274412
108,BRADFORD WOODS,318,0.04,1170,0.271795
52,FRANKLIN PARK,3805,0.49,14330,0.265527
101,BEN AVON,472,0.06,1780,0.265169
91,SEWICKLEY,994,0.13,3846,0.258450
123,THORNBURG,112,0.01,451,0.248337
110,ALEPPO,296,0.04,1198,0.247078
113,SEWICKLEY HEIGHTS,182,0.02,822,0.221411
122,GLEN OSBORNE,116,0.01,542,0.214022
125,BEN AVON HEIGHTS,75,0.01,373,0.201072
109,EDGEWORTH,302,0.04,1671,0.180730
121,PENNSBURY VILLAGE,117,0.01,671,0.174367
118,SEWICKLEY HILLS,121,0.02,731,0.165527
62,MONROEVILLE,2873,0.37,28088,0.102286
119,BELL ACRES,121,0.02,1392,0.086925
120,LEET,118,0.02,1614,0.073110
105,CORAOPOLIS,391,0.05,5608,0.069722
117,CRESCENT,151,0.02,2614,0.057766
88,MOON,1092,0.14,25510,0.042807
97,BALDWIN TOWNSHIP,738,0.09,19802,0.037269
114,SOUTH PARK,176,0.02,13412,0.013123
111,BETHEL PARK,293,0.04,32024,0.009149
126,UPPER ST CLAIR,74,0.01,19567,0.003782
128,MCDONALD,1,0.00,1730,0.000578

In [256]:
s

London      20
New York    21
Helsinki    12
dtype: int64

In [279]:
def square_mul(x, **kwargs):
    adict = kwargs['custom2']
    val = x * adict['x']
    return val

In [280]:
adict={'x': -10}

In [281]:
s.apply(square_mul,custom2=adict)

London     -200
New York   -210
Helsinki   -120
dtype: int64

In [253]:
len(temp['NO. OF CALLS'])

129

In [249]:
fig, (ax1, ax2) = plt.subplots(ncols=2, constrained_layout=True)
temp['NO. OF CALLS'].hist(bins=200, ax= ax1)
temp['PERCENTAGE'].hist(cumulative=True, density=100, bins=50, ax = ax2)

In [299]:
df = pd.DataFrame({'lev1': [1, 1, 1, 1, 2, 2, 2, 2],
                'lev2': [1, 1, 2, 2, 1, 1, 2, 2],
                'lev3': [1, 2, 1, 2, 1, 2, 1, 2],
                'values': [0, 1, 2, 3, 4, 5, 6, 7]})

In [306]:
index=['lev1', 'lev2']
# index='lev1'

In [301]:
df['lev1']

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
Name: lev1, dtype: int64

In [304]:
pd.MultiIndex.from_arrays([df['lev1'], df[columns]])

MultiIndex(levels=[[1, 2], [1, 2]],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['lev1', 'lev3'])

In [302]:
columns='lev3'

In [309]:
indexes = [df[column] for column in index]
indexes.append(df[columns])
pd.MultiIndex.from_arrays(indexes)

MultiIndex(levels=[[1, 2], [1, 2], [1, 2]],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 0, 1, 1, 0, 0, 1, 1], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['lev1', 'lev2', 'lev3'])

In [310]:
values='values'

In [313]:
df._constructor(df[values].values, index=index)

ValueError: Shape of passed values is (1, 8), indices imply (1, 2)

In [316]:
type(pd.unique(pd.Series([2, 1, 3, 3])))

numpy.ndarray

In [318]:
type(pd.unique(pd.Series([pd.Timestamp('20160101'),
                    pd.Timestamp('20160101')])))

numpy.ndarray

In [319]:
pwd

'/Users/thein/hacktoberfest/temp'